@import "tailwindcss";

:root {
  --font-darker-grotesque: var(--font-google-sans-flex);
}

.root {
  isolation: isolate;
  font-family: var(--font-google-sans-flex), Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-google-sans-flex), Arial, Helvetica, sans-serif;
}
